@keyframes enemyIdle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -625px 0;
  }
}

@keyframes warriorIdle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -625px 0;
  }
}